.container{
    h3{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
}

.add_data{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.table{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}